html,
body {
  height: 100%;
  font-family: Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, STHeiti, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  transition: color .25s;
}
a:hover {
  color: #ccc;
}
.fullPageSlide,
.section-wrapper,
.section {
  height: 100%;
}
.fullPageSlide .section {
  height: 100%;
}
.fullPageSlide .section1 {
  background-color: #c4f2c8;
}
.fullPageSlide .section2 {
  background-color: #e6daf7;
}
.fullPageSlide .section3 {
  background-color: #e7ebc3;
}
.fullPageSlide .section4 {
  background-color: #d8ddf0;
}
.fullPageSlide .section5 {
  background-color: #edd1d1;
}
.fullPageSlide .section-wrapper .topHeader {
  height: 52px;
  line-height: 52px;
  padding-right: 160px;
  padding-left: 160px;
  background-color: #717171;
}
.fullPageSlide .section-wrapper .topHeader .author {
  float: left;
}
.fullPageSlide .section-wrapper .topHeader .topNav {
  float: right;
  font-size: 0;
}
.fullPageSlide .section-wrapper .topHeader .topNav .item {
  display: inline-block;
}
.fullPageSlide .section-wrapper .topHeader .topNav .item > a {
  display: inline-block;
}
.fullPageSlide .section-wrapper .topHeader .topNav .item + .item {
  margin-left: 20px;
}
